[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
libclang = "*"
jinja2 = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-env = "*"
build = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
